<div class="home3">
    <div style="width:100%;height:690px;background-color: whitesmoke">

        <h1 align="center" ><font size="15px" face="ink free">Rocks are just not rocks!!! </font></h1>
        <h1 align="center" >Show Pieces</h1>


<div style="position: relative;left:6%;width:88%;background-color: whitesmoke ">

    <div  style="position: relative;">
      <img style="float: left;width: 30%;" src="../../assets/images/show1.jpg">
      <img style="float: left;width: 30%;position: relative;left:5%" src="../../assets/images/show2.jpg">
      <img style="width: 30%;position: relative;left:10%"src="../../assets/images/show3.jpg">
     </div>

      <br /><br /><br />
 
      <div style="position: relative;">
          <img style="float: left;width: 30%;" src="../../assets/images/show4.jpg">
         <img style="float: left;width: 30%;position: relative;left:5%" src="../../assets/images/show5.jpg">
         <img style="width: 30%;position: relative;left:10%" src="../../assets/images/show6.jpg">
     </div>
     <br /><br /><br />
     <div  style="position: relative;">
        <img style="float: left;width: 30%;" src="../../assets/images/show7.jpg">
        <img style="float: left;width: 30%;position: relative;left:5%" src="../../assets/images/show8.jpg">
        <img style="width: 30%;position: relative;left:10%"src="../../assets/images/show9.jpg">
       </div>
  
        <br /><br /><br />
   
        <div style="position: relative;">
            <img style="float: left;width: 30%;" src="../../assets/images/show10.jpg">
           <img style="float: left;width: 30%;position: relative;left:5%" src="../../assets/images/show11.jpg">
           <img style="width: 30%;position: relative;left:10%" src="../../assets/images/show12.jpg">
       </div>
       <br /><br /><br />
       <div style="position: relative;">
          <img style="float: left;width: 30%;" src="../../assets/images/show13.jpg">
         <img style="float: left;width: 30%;position: relative;left:5%" src="../../assets/images/show14.jpg">
         <img style="width: 30%;position: relative;left:10%" src="../../assets/images/show15.jpg">
     </div>
      
            <br /><br /><br />
       
           

          </div>


<div style="width:8%;position: relative;left:43%">
<button color="warn"mat-mini-fab><mat-icon>thumb_up</mat-icon></button>&nbsp;

<button color="warn"mat-mini-fab><mat-icon>thumb_down</mat-icon></button>
</div>
<br /><br /><br />
</div>



<!-- <div  id="img5">
    <img src="../../assets/images/potback1.jpg">
 </div>
 <div  id="img5">
     <img  src="../../assets/images/potback1.jpg">
  </div>
  <div  id="img5">
     <img  style="width:1305px;height:1200px" src="../../assets/images/potback1.jpg">
  </div> -->



</div>