<div class="home2">
    <!-- Background of the page -->
    <div style="width:100%;height:auto;background-color: black">
        <!-- Heading of the page -->
        <h1 align="center">
            <font size="15px" face="ink free" style="color: yellow;">Shine with these amazing Lights!!!!</font>
        </h1>
        <h1 align="center">
            <font size="5px" style="color: yellow;" face="ink free">Wall Lights</font>
        </h1>

        <!-- Images Alignment and background style -->

        <div style="position: relative;left:6%;width:88%;background-color: black ">

            <div style="position: relative;">
                <img style="float: left;width: 30%;" src="../../assets/images/wall1.jpeg">
                <img style="float: left;width: 30%;position: relative;left:5%" src="../../assets/images/wall2.jpeg">
                <img style="width: 30%;position: relative;left:10%" src="../../assets/images/wall3.jpeg">
            </div>

            <br /><br /><br />

            <div style="position: relative;">
                <img style="float: left;width: 30%;" src="../../assets/images/wall4.jpeg">
                <img style="float: left;width: 30%;position: relative;left:5%" src="../../assets/images/wall5.jpeg">
                <img style="width: 30%;position: relative;left:10%" src="../../assets/images/wall6.jpg">
            </div>
            <br /><br /><br />
            <div style="position: relative;">
                <img style="float: left;width: 30%;" src="../../assets/images/wall12.jpg">
                <img style="float: left;width: 30%;position: relative;left:5%" src="../../assets/images/wall8.jpeg">
                <img style="width: 30%;position: relative;left:10%" src="../../assets/images/wall9.jpg">
            </div>

            <br /><br /><br />

            <div style="position: relative;">
                <img style="float: left;width: 30%;" src="../../assets/images/wall10.jpg">
                <img style="float: left;width: 30%;position: relative;left:5%" src="../../assets/images/wall11.jpg">
                <img style="width: 30%;position: relative;left:10%" src="../../assets/images/wall4.jpeg">
            </div>
            <br /><br /><br />


            <br /><br /><br />



        </div>

        <!-- Two buttons for like and dislike -->

        <div style="width:8%;position: relative;left:43%">
            <button color="warn" mat-mini-fab><mat-icon>thumb_up</mat-icon></button>&nbsp;

            <button color="warn" mat-mini-fab><mat-icon>thumb_down</mat-icon></button>
        </div>
        <br /><br /><br />
    </div>



    <!-- <div  id="img5">
    <img src="../../assets/images/potback1.jpg">
 </div>
 <div  id="img5">
     <img  src="../../assets/images/potback1.jpg">
  </div>
  <div  id="img5">
     <img  style="width:1305px;height:1200px" src="../../assets/images/potback1.jpg">
  </div> -->



</div>
   
