<div class="item2">
  <div style="width:100%;height:auto;background-color: black">


    
<br />
<br />
      <div style="width: 100%;height: 200px">
          
       
         <div  style="width:30%;position: absolute;left: 1%;float: left">
           <img src="../../assets/images/war3.jpg" style="height: 200px;width:100%">
         </div>
       
         <div  style="width:30%;position: absolute;left: 35%;float:left">
             <img src="../../assets/images/warnew.jpg" style="height: 200px;width:100%">
           </div>
           <div  style="width:28%;position: absolute;left: 70%;float: left;">
              <h2><font face="ink free" size="6px" color="#FFC107">Wardrobe Designs</font></h2>
              <p style="color:#FFC107" align="justify"> wardrobes are a must-have for every home. From clothes and accessories to home linen, files,
                 and jewellery, wardrobes house our essentials. So, get a wardrobe that best suits your space and storage needs.
                 Explore our collection of beautifully designed wardrobes for your home.  
               whatever your need is, we've got you covered.
             </p>
           </div>
       </div>

<br />

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title  style="font-family:arial black">
      Wardrobe
    </mat-panel-title>
    <mat-panel-description>
       Here we are with very new Wardrobe designs......
    </mat-panel-description>
  </mat-expansion-panel-header>
  
  <mat-tab-group dynamicHeight=false style="height:500px;">
            <mat-tab label="First"><img src="../../assets/images/wardrobe.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Second"><img src="../../assets/images/war1.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Third"><img src="../../assets/images/war11.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Fourth"><img src="../../assets/images/war3.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Fifth"><img src="../../assets/images/war4.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Sixth"><img src="../../assets/images/war5.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Seventh"><img src="../../assets/images/war6.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Eighth"><img src="../../assets/images/war7.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Ninth"><img src="../../assets/images/war8.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Tenth"><img src="../../assets/images/war2.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Eleventh"><img src="../../assets/images/war13.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Twelth"><img src="../../assets/images/war14.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>

  </mat-tab-group>
 
</mat-expansion-panel>




<br /><br /><br /><br /><br />

<div style="width: 100%;height: 200px">
   
 
   <div  style="width:30%;position: absolute;left: 1%;float: left">
     <img src="../../assets/images/sofa1.jpg" style="height: 200px;width:100%">
   </div>
 
   <div  style="width:30%;position: absolute;left: 35%">
       <img src="../../assets/images/sofanew.jpg" style="height: 200px;width:100%">
     </div>
 
     <div  style="width:28%;position: absolute;left: 70%;float: left;">
        <h2><font face="ink free" size="6px" color="#FFC107">Sofa Designs</font></h2>
        <p style="color:#FFC107" align="justify"> Taking time to just sit back and relax – it’s sometimes easier said than done. 
          That’s why we provide designs for soft,cosy sofas and armchairs you can sink into. So when you do have a few minutes to spare,
           they’re just as relaxing and laid back as you hoped they’d be.
       </p>
     </div>
 </div>

<br />
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title  style="font-family:arial black">
            Sofas
          </mat-panel-title>
          <mat-panel-description>
             Just check out these beautiful designs of sofas... 
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <mat-tab-group dynamicHeight=false style="height:500px;">
          <!-- <mat-tab label="beds"></mat-tab> -->
                  <mat-tab label="First"><img src="../../assets/images/sofa1.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Second"><img src="../../assets/images/sofa2.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Third"><img src="../../assets/images/sofa3.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Fourth"><img src="../../assets/images/sofa4.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Fifth"><img src="../../assets/images/slider7.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Sixth"><img src="../../assets/images/sofa6.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Seventh"><img src="../../assets/images/sofa7.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Eighth"><img src="../../assets/images/slider8.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Ninth"><img src="../../assets/images/sofa9.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Tenth"><img src="../../assets/images/sofa10.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Eleventh"><img src="../../assets/images/sofa11.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Twelth"><img src="../../assets/images/sofa12.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
      
        </mat-tab-group>
       
      </mat-expansion-panel>
      
      <br /><br /><br /><br />
      
      
      

    </div>
    </div>