<div class="item3">
    <div style="width:100%;height: auto;background-color: black">
  
  
<br /><br />

        <div style="width: 100%;height: 200px">
            <div  style="width:28%;position: absolute;left: 1%;float: left;">
               <h2 ><font face="ink free" size="6px" color="#FFC107">TV Unit Designs</font></h2>
            <p style="color:#FFC107" align="justify">Is your TV wall-mounted or free-standing? How big is it? 
              These are questions you need to answer before exploring TV unit designs. We offer you a wide range of TV stands that personify style and substanc
               Each of our TV units is distinctively crafted and multifunctional, with plenty of storage and display room. Explore our collection!     
                         </p>
             </div>
         
           <div  style="width:30%;position: absolute;left: 30%;float: left">
             <img src="../../assets/images/tv2.jpg" style="height: 200px;width:100%">
           </div>
         
           <div  style="width:30%;position: absolute;left: 65%">
               <img src="../../assets/images/shoenew.jpg" style="height: 200px;width:100%">
             </div>
         
         </div>
         <br />

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title  style="font-family:arial black">
            TV Units
          </mat-panel-title>
          <mat-panel-description>
               Some adorable designs for TV Units are just down here......
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <mat-tab-group dynamicHeight=false style="height:500px;">
          <!-- <mat-tab label="beds"></mat-tab> -->
                  <mat-tab label="First"><img src="../../assets/images/tv.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Second"><img src="../../assets/images/tv1.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Third"><img src="../../assets/images/tv2.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Fourth"><img src="../../assets/images/tv3.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Fifth"><img src="../../assets/images/tv4.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Sixth"><img src="../../assets/images/tv5.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Seventh"><img src="../../assets/images/tv6.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Eighth"><img src="../../assets/images/tv7.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Ninth"><img src="../../assets/images/tv8.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Tenth"><img src="../../assets/images/tv9.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Eleventh"><img src="../../assets/images/tv10.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Twelth"><img src="../../assets/images/tv11.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
      
        </mat-tab-group>
       
      </mat-expansion-panel>
      

 
      <br /><br />

      <div style="width: 100%;height: 200px">
         <div  style="width:28%;position: absolute;left: 1%;float: left;">
            <h2 ><font face="ink free" size="6px" color="#FFC107">Shoe Rack Designs</font></h2>
         <p style="color:#FFC107" align="justify"> Shoe racks are essential to every home. Choose from compact shoe racks for a small family to large shoe cabinets. Explore shoe
            racks with seating or separate entryway benches. Also spruce up your entryway furniture with utility shelves, mirrors and coat racks.
            </p>
          </div>
      
        <div  style="width:30%;position: absolute;left: 30%;float: left">
          <img src="../../assets/images/shoe5.jpg" style="height: 200px;width:100%">
        </div>
      
        <div  style="width:30%;position: absolute;left: 65%">
            <img src="../../assets/images/shoenew.jpg" style="height: 200px;width:100%">
          </div>
      
      </div>
      <br />
  

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title  style="font-family:arial black">
               Shoe Racks
          </mat-panel-title>
          <mat-panel-description>
               Some adorable designs for Shoe Racks are just down here......
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <mat-tab-group dynamicHeight=false style="height:500px;">
          <!-- <mat-tab label="beds"></mat-tab> -->
                  <mat-tab label="First"><img src="../../assets/images/shoe1.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Second"><img src="../../assets/images/shoe2.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Third"><img src="../../assets/images/shoe3.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Fourth"><img src="../../assets/images/shoe4.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Fifth"><img src="../../assets/images/shoe5.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Sixth"><img src="../../assets/images/shoe6.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Seventh"><img src="../../assets/images/shoe7.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Eighth"><img src="../../assets/images/shoe8.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Ninth"><img src="../../assets/images/shoe9.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Tenth"><img src="../../assets/images/shoe10.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Eleventh"><img src="../../assets/images/shoe11.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                  <mat-tab label="Twelth"><img src="../../assets/images/shoe12.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
      
        </mat-tab-group>
       
      </mat-expansion-panel>
      <br /><br /><br /><br />
      </div>
      </div>