<div class="login" >
  
            <!-- style="background-color: whitesmoke; width: 30%;height: 60%;position: relative;left:30%;top:10%"       -->
      <div style=" width: 30%;height: 60%;position: relative;left:30%;top:20%" >

            <h1 align="center"><font color="black">Login</font></h1>
            <br />	<br />
          
          <table class="c1"align="center" >
            <form method="post" action="">
            <tr class="c1"><td ><font color ="black">Username</font><input type="text" name="" size="40" maxlength="15" required /></td></tr>
            <tr><td><font color ="black">Password</font><input type="Password" placeholder="enter your password" maxlength="10" size="40" required /></td></tr>
            <br />
            <!-- <tr><td><input type ="submit" name="login" value="login"/></td></tr> -->
            &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp; 
             <button mat-stroked-button style="border-radius:5px" (click)="mclickrel1($event)">
                  Sign Up!</button>
            
            
            </form>
            </table>
      </div>   
     
     
</div>