<div class="hand1">

    <div style="z-index:1;position:absolute;width:97.5%;height:auto;">
        <br />
<!-- Heading of the page  -->
        <h1 align="center">
            <font size="15px" face="ink free">Stafford Collection!!!</font>
        </h1>
        <hr>
<!--Introduction added to the page  -->
        <b><p style="width: 80% ;position: relative;left:70px" align="justify">
     Inspired By The Intricate Lattice Craftsmanship From Bygone Era, Stafford Collection Is An Unique Amalgamation Of Meticulous Ring and Capsule Patterns On Rich Sheesham Wood.
     The Beauty Of The Wrought Iron Lattice Against The Warmth Of The Honey Oak Finish Will Add A Touch Of Nostalgia To Your Room.
     Inspired by the intricate lattice craftsmanship from bygone era, the collection is a unique amalgamation of meticulous ring and capsule patterns
      on rich sheesham wood.
      </p></b>
<!-- Alignment, style of the images added to the page -->
        <div style="position: relative;left:13%;width:90% ">
            <div style="position: relative;">
                <img style="float: left;width: 35%;" src="../../assets/images/staff1.jpg">
                <img style="width: 35%;position: relative;left:5%" src="../../assets/images/staff2.jpg">
            </div>


            <br /><br /><br />
            <div style="position: relative;">
                <img style="float: left;width: 35%; " src="../../assets/images/staff8.jpg">
                <img style="width: 35%;position: relative;left:5%" src="../../assets/images/staff4.jpg">
            </div>
            <br /><br /><br />
            <div style="position: relative;">
                <img style="float: left;width: 35%;" src="../../assets/images/staff14.jpg">
                <img style="width: 35%;position: relative;left:5%" src="../../assets/images/staff6.jpg">
            </div>
            <br /><br /><br />
            <div style="position: relative;">
                <img style="float: left;width: 35%; " src="../../assets/images/staff5.jpg">
                <img style="width: 35%;position: relative;left:5%" src="../../assets/images/staff3.jpg">
            </div>
            <br /><br /><br />
            <div style="position: relative;">
                <img style="float: left;width: 35%;" src="../../assets/images/staff13.jpg">
                <img style="width: 35%;position: relative;left:5%" src="../../assets/images/staff9.jpg">
            </div>
            <br /><br /><br />
            <div style="position: relative;">
                <img style="float: left;width: 35%; " src="../../assets/images/staff7.jpg">
                <img style="width: 35%;position: relative;left:5%" src="../../assets/images/staff10.jpg">
            </div>
            <br /><br /><br />
            <div style="position: relative;">
                <img style="float: left;width: 35%;" src="../../assets/images/staff11.jpg">
                <img style="width: 35%;position: relative;left:5%" src="../../assets/images/staff12.jpg">
            </div>
            <br /><br /><br />


<!-- Two buttons are added: Thumbs up and Thumbs down  -->
        </div>
        <div style="width:8%;position: relative;left:43%">
            <button color="warn" mat-mini-fab><mat-icon>thumb_up</mat-icon></button>&nbsp;

            <button color="warn" mat-mini-fab><mat-icon>thumb_down</mat-icon></button>
        </div>
    </div>



<!-- Background image on the page -->

    <div id="img">
        <img src="../../assets/images/staffback4.jpg">
    </div>
    <div id="img">
        <img src="../../assets/images/staffback4.jpg">
    </div>
    <div id="img">
        <img style="width:1305px;height:1200px" src="../../assets/images/staffback4.jpg">
    </div>

</div>
