
<div class="item">
 <div style="width:100%;height:auto;background-color: black">
<br />

<div style="width: 100%;height: 200px">
   <div  style="width:28%;position: absolute;left: 1%;float: left;">
      <h2 ><font face="ink free" size="6px" color="#FFC107">Bed Designs</font></h2>
   <p style="color:#FFC107" align="justify"> A bed is more than just a place to sleep. It's where late night reads, movie marathons, conversations and more happen.
       All the more reason to search a little for the perfect bed, right? King sized beds , Queen sized beds  
       ... whatever your need is, we've got you covered.
       Explore beds online and find the one that's perfect for you! 
      </p>
    </div>

  <div  style="width:30%;position: absolute;left: 30%;float: left">
    <img src="../../assets/images/bed4.jpg" style="height: 200px;width:100%">
  </div>

  <div  style="width:30%;position: absolute;left: 65%">
      <img src="../../assets/images/bednew.jpg" style="height: 200px;width:100%">
    </div>

</div>


<br />
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title style="font-family:arial black">
     BEDS
    </mat-panel-title>
    <mat-panel-description>
      We have latest bed designs for u all guys. So be ready!!!
    </mat-panel-description>
  </mat-expansion-panel-header>
  
  <mat-tab-group dynamicHeight=false style="height:500px;">
    <!-- <mat-tab label="beds"></mat-tab> -->
            <mat-tab label="First"><img src="../../assets/images/bed10.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Second"><img src="../../assets/images/bed12.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Third"><img src="../../assets/images/bed11.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Fourth"><img src="../../assets/images/bed3.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Fifth"><img src="../../assets/images/bed4.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Sixth"><img src="../../assets/images/bed5.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Seventh"><img src="../../assets/images/bed6.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Eighth"><img src="../../assets/images/bed7.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Ninth"><img src="../../assets/images/bed8.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Tenth"><img src="../../assets/images/bed9.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Eleventh"><img src="../../assets/images/bed13.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Twelth"><img src="../../assets/images/bed14.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>

  </mat-tab-group>
 
</mat-expansion-panel>

<br /><br /><br /><br />

<br />

<div style="width: 100%;height: 200px">
   <div  style="width:28%;position: absolute;left: 1%;float: left;">
      <h2 ><font face="ink free" size="6px" color="#FFC107">Dressing Table Designs</font></h2>
   <p style="color:#FFC107 "align="justify">Dressing tables are a key part of our daily routine,be it getting ready for work or a party,
      or doing a quick check before heading out. Dressing tables with mirrors and without, wall-mounted and free-standing,
      with storage and without, we have it all. Explore our dressing table designs.
      </p>
    </div>

  <div  style="width:30%;position: absolute;left: 30%;float: left">
    <img src="../../assets/images/dress10.jpg" style="height: 200px;width:100%">
  </div>

  <div  style="width:30%;position: absolute;left: 65%">
      <img src="../../assets/images/dressnew.jpg" style="height: 200px;width:100%">
    </div>

</div>


<br />



<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title  style="font-family:arial black">
      DRESSING TABLES
    </mat-panel-title>
    <mat-panel-description>
      We have different kinds of dressing table designs.HAVE A LOOK......
    </mat-panel-description>
  </mat-expansion-panel-header>
  
  <mat-tab-group dynamicHeight=false style="height:500px;">
    <!-- <mat-tab label="beds"></mat-tab> -->
            <mat-tab label="First"><img src="../../assets/images/dressingTable.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Second"><img src="../../assets/images/dress1.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Third"><img src="../../assets/images/dress2.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Fourth"><img src="../../assets/images/dress3.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Fifth"><img src="../../assets/images/dress12.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Sixth"><img src="../../assets/images/dress5.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Seventh"><img src="../../assets/images/dress6.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Eighth"><img src="../../assets/images/dress7.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Ninth"><img src="../../assets/images/dress8.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Tenth"><img src="../../assets/images/dress9.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Eleventh"><img src="../../assets/images/dress10.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
            <mat-tab label="Twelth"><img src="../../assets/images/dress11.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>

  </mat-tab-group>
 
</mat-expansion-panel>
<br /><br /><br /><br />






<!-- <mat-accordion>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    hello2
  </mat-expansion-panel-header>
  <mat-tab-group>
      <mat-tab label="beds"></mat-tab>
    <mat-tab label="first"><img src="../../assets/images/bed6.jpg" style="margin-left: 20%;height:60%;width:40%"/></mat-tab>
    <mat-tab label="second"><img src="../../assets/images/bed10.jpg" style="margin-left: 25%;"/></mat-tab>
    <mat-tab label="third"><img src="../../assets/images/bed12.jpg"/></mat-tab>
  </mat-tab-group>
  </mat-expansion-panel>
</mat-accordion>
 -->

 </div>

 
  
</div>