  <div class="home1">
    <!-- Background of the page -->
    <div style="width:100%;height:auto;background-color: black">
        <!-- Heading of the page -->
        <h1 align="center">
            <font size="15px" style="color: yellow;" face="ink free">What makes your home Beautiful!!!!</font>
        </h1>
        <h1 align="center">

            <font size="5px" style="color: yellow;" face="ink free">Pots and Planters</font>
        </h1>

        <!-- Images Alignment and background style -->
        <div style="position: relative;left:6%;width:88%;background-color: black ">

            <div style="position: relative;">
                <img style="float: left;width: 30%;" src="../../assets/images/pot1.jpg">
                <img style="float: left;width: 30%;position: relative;left:5%" src="../../assets/images/pot4.jpg">
                <img style="width: 30%;position: relative;left:10%" src="../../assets/images/pot5.jpeg">
            </div>

            <br /><br /><br />

            <div style="position: relative;">
                <img style="float: left;width: 30%;" src="../../assets/images/pot2.jpg">
                <img style="float: left;width: 30%;position: relative;left:5%" src="../../assets/images/pot3.jpg">
                <img style="width: 30%;position: relative;left:10%" src="../../assets/images/pot6.jpeg">
            </div>
            <br /><br /><br />
            <div style="position: relative;">
                <img style="float: left;width: 30%;" src="../../assets/images/pot7.jpeg">
                <img style="float: left;width: 30%;position: relative;left:5%" src="../../assets/images/pot8.jpeg">
                <img style="width: 30%;position: relative;left:10%" src="../../assets/images/pot9.jpeg">
            </div>

            <br /><br /><br />

            <div style="position: relative;">
                <img style="float: left;width: 30%;" src="../../assets/images/pot10.jpeg">
                <img style="float: left;width: 30%;position: relative;left:5%" src="../../assets/images/pot11.jpeg">
                <img style="width: 30%;position: relative;left:10%" src="../../assets/images/pot12.jpeg">
            </div>
            <br /><br /><br />
            <div style="position: relative;">
                <img style="float: left;width: 30%;" src="../../assets/images/pot13.jpeg">
                <img style="float: left;width: 30%;position: relative;left:5%" src="../../assets/images/pot17.jpeg">
                <img style="width: 30%;position: relative;left:10%" src="../../assets/images/pot15.jpeg">
            </div>

            <br /><br /><br />

            <div style="position: relative;">
                <img style="float: left;width: 30%;" src="../../assets/images/pot16.jpeg">
                <img style="float: left;width: 30%;position: relative;left:5%" src="../../assets/images/pot14.jpeg">
                <img style="width: 30%;position: relative;left:10%" src="../../assets/images/pot18.jpeg">
            </div>
            <br /><br /><br />
            <div style="position: relative;">
                <img style="float: left;width: 30%;" src="../../assets/images/pot19.jpeg">
                <img style="float: left;width: 30%;position: relative;left:5%" src="../../assets/images/pot20.jpeg">
                <img style="width: 30%;position: relative;left:10%" src="../../assets/images/pot21.jpeg">

            </div>

            <br /><br /><br />



        </div>
        <!-- Two buttons for like and dislike -->

        <div style="width:8%;position: relative;left:43%">
            <button color="warn" mat-mini-fab><mat-icon>thumb_up</mat-icon></button>&nbsp;

            <button color="warn" mat-mini-fab><mat-icon>thumb_down</mat-icon></button>
        </div>
        <br /><br /><br />
    </div>



    <!-- <div id="img5">
        <img src="../../assets/images/potback1.jpg">
    </div>
    <div id="img5">
        <img src="../../assets/images/potback1.jpg">
    </div>
    <div id="img5">
        <img style="width:1305px;height:1200px" src="../../assets/images/potback1.jpg">
    </div> -->




</div>
