
<div class="new1">
  <div style="width:100%;height:auto;background-color: whitesmoke">


      <br /><br />

      <div style="width: 100%;height: 200px">
          <div  style="width:28%;position: absolute;left: 1%;float: left;">
             <h2 ><font face="ink free" size="6px" color="black">Curvilinear Designs</font></h2>
          <p style="color:black" align="justify">Is your TV wall-mounted or free-standing? How big is it? 
            These are questions you need to answer before exploring TV unit designs. We offer you a wide range of TV stands that personify style and substanc
             Each of our TV units is distinctively crafted and multifunctional, with plenty of storage and display room. Explore our collection!     
                       </p>
           </div>
       
         <div  style="width:30%;position: absolute;left: 30%;float: left">
           <img src="../../assets/images/curve1.jpg" style="height: 200px;width:100%">
         </div>
       
         <div  style="width:30%;position: absolute;left: 65%">
             <img src="../../assets/images/curvenew.jpg" style="height: 200px;width:100%">
           </div>
       
       </div>
       <br />


    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title  style="font-family:arial black">
          Curvilinear Designs
        </mat-panel-title>
        <mat-panel-description>
           Have a look on these amazing Curvilinear Designs.
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <mat-tab-group dynamicHeight=false style="height:500px;">
        <!-- <mat-tab label="beds"></mat-tab> -->
                <mat-tab label="First"><img src="../../assets/images/curve2.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Second"><img src="../../assets/images/curve3.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Third"><img src="../../assets/images/curve4.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Fourth"><img src="../../assets/images/curve5.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Fifth"><img src="../../assets/images/curve6.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Sixth"><img src="../../assets/images/curve1.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Seventh"><img src="../../assets/images/curve8.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Eighth"><img src="../../assets/images/curve9.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Ninth"><img src="../../assets/images/curve10.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Tenth"><img src="../../assets/images/curve11.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Eleventh"><img src="../../assets/images/curve13.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
    
      </mat-tab-group>
     
    </mat-expansion-panel>



    <br /><br /> <br /><br />
      <div style="width: 100%;height: 200px">
          
       
         <div  style="width:30%;position: absolute;left: 1%;float: left">
           <img src="../../assets/images/distress.jpg" style="height: 200px;width:100%">
         </div>
       
         <div  style="width:30%;position: absolute;left: 35%;float:left">
             <img src="../../assets/images/distressnew.jpg" style="height: 200px;width:100%">
           </div>
           <div  style="width:28%;position: absolute;left: 70%;float: left;">
              <h2><font face="ink free" size="6px" color="black">Distress Finished</font></h2>
              <p style="color:black" align="justify"> wardrobes are a must-have for every home. From clothes and accessories to home linen, files,
                 and jewellery, wardrobes house our essentials. So, get a wardrobe that best suits your space and storage needs.
                 Explore our collection of beautifully designed wardrobes for your home.  
               whatever your need is, we've got you covered.
             </p>
           </div>
       </div>

<br />
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title  style="font-family:arial black">
          Distress Finished 
        </mat-panel-title>
        <mat-panel-description>
          Distress finished is very unique and less popular among people.But u guys just need one look, you will be impressed.
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <mat-tab-group dynamicHeight=false style="height:500px;">
        <!-- <mat-tab label="beds"></mat-tab> -->
                <mat-tab label="First"><img src="../../assets/images/distress1.jpeg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Second"><img src="../../assets/images/distress2.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Third"><img src="../../assets/images/distress3.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Fourth"><img src="../../assets/images/distress4.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Fifth"><img src="../../assets/images/distress5.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Sixth"><img src="../../assets/images/distress6.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Seventh"><img src="../../assets/images/distress7.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Eighth"><img src="../../assets/images/distress8.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Ninth"><img src="../../assets/images/distress9.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Tenth"><img src="../../assets/images/distress10.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Eleventh"><img src="../../assets/images/distress11.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Twelth"><img src="../../assets/images/distress12.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>

      </mat-tab-group>
     
    </mat-expansion-panel>



    <br /><br /><br /><br />

    <div style="width: 100%;height: 200px">
        <div  style="width:28%;position: absolute;left: 1%;float: left;">
           <h2 ><font face="ink free" size="6px" color="black">Hand Painted</font></h2>
        <p style="color:black" align="justify">Is your TV wall-mounted or free-standing? How big is it? 
          These are questions you need to answer before exploring TV unit designs. We offer you a wide range of TV stands that personify style and substanc
           Each of our TV units is distinctively crafted and multifunctional, with plenty of storage and display room. Explore our collection!     
                     </p>
         </div>
     
       <div  style="width:30%;position: absolute;left: 30%;float: left">
         <img src="../../assets/images/hand.jpg" style="height: 200px;width:100%">
       </div>
     
       <div  style="width:30%;position: absolute;left: 65%">
           <img src="../../assets/images/handnew1.jpg" style="height: 200px;width:100%">
         </div>
     
     </div>
     <br />
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title  style="font-family:arial black">
          Handpainted Designs
        </mat-panel-title>
        <mat-panel-description>
         There are some impressive and beautiful Handpainted designs.Just drop down the panel!!!
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <mat-tab-group dynamicHeight=false style="height:500px;">
        <!-- <mat-tab label="beds"></mat-tab> -->
                <mat-tab label="First"><img src="../../assets/images/hand1.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Second"><img src="../../assets/images/hand2.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Third"><img src="../../assets/images/hand3.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Fourth"><img src="../../assets/images/hand4.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Fifth"><img src="../../assets/images/hand5.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Sixth"><img src="../../assets/images/hand6.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Seventh"><img src="../../assets/images/hand7.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Eighth"><img src="../../assets/images/hand8.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Ninth"><img src="../../assets/images/hand9.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Tenth"><img src="../../assets/images/hand10.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Eleventh"><img src="../../assets/images/hand11.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>
                <mat-tab label="Twelth"><img src="../../assets/images/hand12.jpg" style="height: 440px;width:50%;position: relative;left:300px"/></mat-tab>

      </mat-tab-group>
     
    </mat-expansion-panel>
    <br /><br /><br /><br />
    </div>
  
</div>