

<div class="hand2">
 
    <div style="z-index:1;position:absolute;width:97.5%;height:auto;">
        <br />
      
        <h1 align="center" ><font size="15px" face="ink free">Segur Collection!!!</font></h1>
        <hr >

        <b><p style="width: 80% ;position: relative;left:100px" align="justify">
            Designed with a bold and seamless aesthetic. the handles are actually grooves on sheesham fascia, which in the play of light,
            form a subtle signature design element.The Segur Collection Is Designed With A Bold And Seamless Aesthetic.The Handles Are Actually Grooves On Sheesham Fascia,
             Which In The Play Of Light, Form A Subtle Signature Design Element.
       
      </p></b>

      <div style="position: relative;left:13%;width:90% ">
        <div  style="position: relative;">
          <img style="float: left;width: 35%;" src="../../assets/images/se13.jpg">
          <img style="width: 35%;position: relative;left:5%" src="../../assets/images/se2.jpg">
        </div>
          <br /><br /><br />
          <div style="position: relative;">
          <img style="float: left;width: 35%; "src="../../assets/images/se3.jpg">
          <img style="width: 35%;position: relative;left:5%" src="../../assets/images/se4.jpg">
      </div>
      <br /><br /><br />
      <div  style="position: relative;">
          <img style="float: left;width: 35%;" src="../../assets/images/se5.jpg">
          <img style="width: 35%;position: relative;left:5%" src="../../assets/images/se6.jpg">
        </div>
          <br /><br /><br />
          <div style="position: relative;">
          <img style="float: left;width: 35%; "src="../../assets/images/se7.jpg">
          <img style="width: 35%;position: relative;left:5%" src="../../assets/images/se8.jpg">
      </div>
      <br /><br /><br />
      <div  style="position: relative;">
          <img style="float: left;width: 35%;" src="../../assets/images/se9.jpg">
          <img style="width: 35%;position: relative;left:5%" src="../../assets/images/se10.jpg">
        </div>
          <br /><br /><br />
          <div style="position: relative;">
          <img style="float: left;width: 35%; "src="../../assets/images/se11.jpg">
          <img style="width: 35%;position: relative;left:5%" src="../../assets/images/se12.jpg">
      </div>
      <br /><br /><br />
     
        

     
</div>
<div style="width:8%;position: relative;left:43%">
    <button color="warn"mat-mini-fab><mat-icon>thumb_up</mat-icon></button>&nbsp;

    <button color="warn"mat-mini-fab><mat-icon>thumb_down</mat-icon></button>
 </div>

  </div>




  <div  id="img1">
     <img style="width:1305px;" src="../../assets/images/seback2.jpg">
  </div>
  <div  id="img1">
      <img style="width:1305px;" src="../../assets/images/seback2.jpg">
   </div>
   <div  id="img1">
      <img style="width:1305px;" src="../../assets/images/seback2.jpg">
   </div>
   <div  id="img1">
      <img style="width:1305px;height:500px" src="../../assets/images/seback2.jpg">
   </div>
 
</div>