/* Style of the background of Home Page */

.home{
    height: 700px;
    z-index: 0;
    /* background-color: wheat; */
    width:83%;
    float: right;
    position: relative;
    -webkit-filter: blur(0.5px); /* Safari 6.0 - 9.0 */
    filter: blur(0.5px);
}
