<div class="signup">
<!--  Heading of the page  -->
        <h1 align="center"><font color="balck" face="ink free"size="30">Signup</font></h1>
            <!-- <table align="center">
            <form method="post" action="">
            <tr ><td ><font color ="wheat" size="5px">Username</font><input type="text" name="" value=""  size="50" maxlength="15" required /></td></tr>
            <tr><td><font color ="wheat" size="5px">Email</font><input type="email"  maxlength="10" size="50" required /></td></tr>
            <tr><td><font color ="wheat" size="5px">Contact</font><input type="text"  maxlength="10" size="50" required /></td></tr>

            
            <tr><td><font color ="wheat" size="5px">Password</font><input type="Password" placeholder="enter your password" maxlength="10" size="50" required /></td></tr>
                <tr ><td ><a id="a1" href="forgotpass.html" target="_blank"><font color="wheat" size="5">Forgot Password?</font></a></td></tr>
                <tr><td><input type ="submit" name="Signin" value="Signin"/></td></tr>
            
            </form>
            </table> -->
            <div align="center" id="divform">
<!--       Heading of the form         -->
                <h2>Join Us and stay updated!</h2>
              <form  align="center"class="example-form">
                <mat-form-field id="input">
                  <input matInput placeholder="Name" >
                </mat-form-field><br>
                           
                  <mat-form-field id="input">
                    <input matInput placeholder="Email" >
                  </mat-form-field><br>
              
                <mat-form-field id="input">
                    <span matPrefix>+91 &nbsp;</span>
                    <input type="tel" matInput placeholder="Mobile">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                  </mat-form-field>
              
                <mat-form-field id="input">
                  <input matInput placeholder="Create New Password" >
                </mat-form-field><br>
              
                <mat-form-field id="input">
                  <input matInput placeholder="Re-Enter Password" >
                </mat-form-field><br>
                <button mat-stroked-button style="border-radius:5px" (click)="mclickrel1($event)">
                  Sign Up!</button>&nbsp;&nbsp;
                  <button mat-stroked-button style="border-radius:5px" (click)="mclickrel($event)">
                        Cancel</button>
              </form>
              </div>
      
</div>
