
<div class="hand3">
 
    <div style="z-index:1;position:absolute;width:97.5%;height:auto;">
        <br />
              <!-- Heading of the page  -->

        <h1 align="center" ><font size="15px" face="ink free">Airavana Collection!!!</font></h1>
        <hr >
        <!--Introduction added to the page  -->

        <b><p style="width: 80% ;position: relative;left:100px" align="justify">
            Bringing Nature Closer To You, The Airavana Range Finds Its Muse In Elephants.
            Crafted In Sheesham With Provincial Teak Or Honey Oak Finishes, The Elephant Carvings Make This Collection Like No Other.
         
      </p></b>
        <!-- Alignment, style of the images added to the page -->

      <div style="position: relative;left:13%;width:90% ">
        <div  style="position: relative;">
          <img style="float: left;width: 35%;" src="../../assets/images/air1.jpg">
          <img style="width: 35%;position: relative;left:5%" src="../../assets/images/air2.jpg">
        </div>
          <br /><br /><br />
          <div style="position: relative;">
          <img style="float: left;width: 35%; "src="../../assets/images/air3.jpg">
          <img style="width: 35%;position: relative;left:5%" src="../../assets/images/air4.jpg">
      </div>
      <br /><br /><br />
      <div  style="position: relative;">
          <img style="float: left;width: 35%;" src="../../assets/images/air5.jpg">
          <img style="width: 35%;position: relative;left:5%" src="../../assets/images/air6.jpg">
        </div>
          <br /><br /><br />
          <div style="position: relative;">
          <img style="float: left;width: 35%; "src="../../assets/images/air7.jpg">
          <img style="width: 35%;position: relative;left:5%" src="../../assets/images/air8.jpg">
      </div>
      <br /><br /><br />
      <div  style="position: relative;">
          <img style="float: left;width: 35%;" src="../../assets/images/air9.jpg">
          <img style="width: 35%;position: relative;left:5%" src="../../assets/images/air10.jpg">
        </div>
          <br /><br /><br />
          <div style="position: relative;">
          <img style="float: left;width: 35%; "src="../../assets/images/air11.jpg">
          <img style="width: 35%;position: relative;left:5%" src="../../assets/images/air12.jpg">
      </div>
      <br /><br /><br />
      <div style="position: relative;">
          <img style="float: left;width: 35%; "src="../../assets/images/air13.jpg">
          <img style="width: 35%;position: relative;left:5%" src="../../assets/images/air14.jpg">
      </div>
     
        
            <!-- Two buttons are added: Thumbs up and Thumbs down  -->

     
</div>
<br /><br /><br />
<div style="width:8%;position: relative;left:43%">
    <button color="warn"mat-mini-fab><mat-icon>thumb_up</mat-icon></button>&nbsp;

    <button color="warn"mat-mini-fab><mat-icon>thumb_down</mat-icon></button>
 </div>

  </div>


    <!-- Background image on the page -->


  <div  id="img1">
     <img style="width:1305px;" src="../../assets/images/nimback1.jpg">
  </div>
  <div  id="img1">
      <img style="width:1305px;" src="../../assets/images/nimback1.jpg">
   </div>
   <div  id="img1">
      <img style="width:1305px;" src="../../assets/images/nimback1.jpg">
   </div>
   <div  id="img1">
      <img style="width:1305px;height:1000px" src="../../assets/images/nimback1.jpg">
   </div>

</div>
